@media only screen and (max-width: 500px) {
    ul{
        flex-direction: column;
        display:none; 
    }
    li{
        margin: 0
    }
    a{
        display: block;
    }
    button{
        display: block;
        padding: 2vw;
        background-color: #afe0ff;
        border: none;
        outline-color: none;
        cursor: pointer;
        align-self: flex-start;
        text-align:left;

    }
    .h_2{
         color: #800000;
    }
    nav{
        display: flex;
    }
    .title{
       margin-left: 30%;
       font-size: 180%;
    }
    .close{
        display:none;
    }

}