li{
    list-style-type: none;
    margin: 0 2vw;
    font-size: 3vh;
}
a{
    text-decoration: none;
    color: #000000;
    font-family: monospace;
    padding: 2vw;
}
a:hover{
    background-color: #c6e9ff;
}
nav{
    width: 100vw;
    background-color: #D6EFFF;
  
}
ul{
    margin: 0;
    padding: 0;
    display: flex;
    /* flex-direction: column; */
    background-color: #d6efff;
}
body{
    margin: 0;
}
button{
    display: none;
    cursor: pointer;
    align-self: flex-start;
}
